extends base

block vars
  - var title = "Share messages all over the globe"

block body
  h1 Moard
  p.
    Welcome to Moard!
  | Please #[a(href="/register") register] or #[a(href="/login") login] to continue.